# Node modülleri ve gereksiz dosyalar image'a eklenmesin
default_node_modules/
node_modules/
.next/
dist/
.env
.env.*
.git
.gitignore
Dockerfile
docker-compose.yml
README.md
*.md
uploads/
*.log
.idea/
.vscode/

